In [34]:
import pandas as pd

In [49]:
#Load in csv
df = pd.read_csv('truliaOuput.csv')

#Get rid of unwanted columns
del df['Unnamed: 0']
df

,price,city,address,bedrooms,batrooms,houseSize
0,"$2,595,000","Austin, TX",3704 Bonnie Rd,5bd,6ba,"3,769 sqft"
1,"$1,950,000","South River City, Austin, TX",504 Sunrise Cir,4bd,4ba,"2,892 sqft"
2,"$349,900","Garrison Park, Austin, TX",1204 Kenyon Dr,3bd,2ba,"1,357 sqft"
3,"$950,000","Holly, Austin, TX",2013 Riverview St,3bd,3ba,"2,068 sqft"
4,"$617,000","South Lamar, Austin, TX",1608 Bridgeway Dr,3bd,3ba,"1,944 sqft"
...,...,...,...,...,...,...
95,"$190,000","Austin, TX",225 Golden Bear Dr,4bd,4ba,"2,521 sqft"
96,"$1,325,000","Lakeway, TX",518 Woodside Ter,5bd,6ba,"4,957 sqft"
97,"$325,605","Austin, TX",10913 Charger Way,3bd,2.5ba,"2,082 sqft"
98,"$468,800","Lakeway, TX",2050 Lohmans Spur Rd,3bd,3.5ba,"1,843 sqft"
99,"$380,000","Austin, TX",10807 Cobblestone Ln,3bd,2ba,"1,596 sqft"

In [50]:
#Rename columns to better match description
df.columns = ['Price','City','Address','Beds','Baths','SqFt']

#Convert city column to list to modify it
city_state = df['City'].to_list()

#Split up city column into city and state
state = []
city = []
for item in city_state:
    fixed_col = item.split(',')
    state.append(fixed_col[-1].strip())
    city.append(fixed_col[-2].strip())
    try:
        district = fixed_col[-3]
    except IndexError:
        district = 'N/A'

#Get rid of strings in number columns
beds_col = []
bed = df['Beds'].to_list()
for beds in bed:
    num_beds = beds.split('b')
    beds_col.append(num_beds[0])

baths_col = []
bath = df['Baths'].to_list()
for baths in bath:
    num_bath = baths.split('b')
    baths_col.append(num_bath[0])

sqft_col = []
sqft = df['SqFt'].to_list()
for squareft in sqft:
    num_sqft = squareft.split(' ')
    sqft_col.append(num_sqft[0])

In [51]:
#Add in new columns
df['City'] = city
df['State'] = state
df['Beds'] = beds_col
df['Baths'] = baths_col
df['SqFt'] = sqft_col
#Re-arrange columns
df = df[['Address','City','State','Price','SqFt','Beds','Baths',]]
df

                 Address     City State       Price   SqFt Beds Baths
0         3704 Bonnie Rd   Austin    TX  $2,595,000  3,769    5     6
1        504 Sunrise Cir   Austin    TX  $1,950,000  2,892    4     4
2         1204 Kenyon Dr   Austin    TX    $349,900  1,357    3     2
3      2013 Riverview St   Austin    TX    $950,000  2,068    3     3
4      1608 Bridgeway Dr   Austin    TX    $617,000  1,944    3     3
..                   ...      ...   ...         ...    ...  ...   ...
95    225 Golden Bear Dr   Austin    TX    $190,000  2,521    4     4
96      518 Woodside Ter  Lakeway    TX  $1,325,000  4,957    5     6
97     10913 Charger Way   Austin    TX    $325,605  2,082    3   2.5
98  2050 Lohmans Spur Rd  Lakeway    TX    $468,800  1,843    3   3.5
99  10807 Cobblestone Ln   Austin    TX    $380,000  1,596    3     2

[100 rows x 7 columns]

In [48]:
#Export cleaned csv 
df.to_csv('Cleaned_Trulia.csv')